@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Manrope';
  src: url('./../public/Manrope[wght].woff2') format('woff2-variations');
  font-weight: 100 900; 
  font-display: swap;
}


